language: node_js
cache:
  directories:
    - ~/.npm
node_js:
  - '9'
  - '8'
  - '6'

before_install:
  # we need npm version > 5.6.0 to not barf on cross-platform optional dependencies.
  # For details, see https://github.com/npm/npm/pull/19054
  - npm install npm@^5.6.0 -g
script:
  - npm run prepush
    # get the coverage metrics to coveralls
  - npm run coveralls-report
